*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  position: relative;
  display: flex;
}

.main, .food, .retail, .community {
  /* position: absolute; */
  height: 100vh;
}

.main {
  width: 100vw;
  background-color: whitesmoke;
}

.mainShift {
  width: 5vw;
  background-color: whitesmoke;

}

.food {
  width: 5vw;
  left: 85vw;
  background-color: #8080ff;
  
}

.foodShift {
  /* position: absolute; */
  width: 95vw;
  /* left: 5vw; */
  background-color: #8080ff;
  height: 100vh;

}

.retail {
  width: 5vw;
  /* left: 90vw; */
  background-color: #ff0000;
}

.retailShift {
  /* position: absolute; */
  width: 90vw;
  /* left: 10vw; */
  background-color: #ff0000;
  height: 100vh;
}

.community {
  width: 5vw;
  /* left: 95vw; */
  background-color: #ffa31a;
}