*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: row;
}

.main, .food, .retail, .community {
  height: 100vh;
}

.main {
  width: 85vw;
  background-color: whitesmoke;
  height: 100vh;

}

.mainShift {
  width: 5vw;
  background-color: whitesmoke;
  height: 100vh;

}

.food {
  width: 5vw;
  background-color: #8080ff;
  height: 100vh;

}

.foodShift {
  width: 85vw;
  background-color: #8080ff;
  height: 100vh;

}

.retail {
  width: 5vw;
  background-color: #ff0000;
  height: 100vh;
}

.retailShift {
  width: 85vw;
  background-color: #ff0000;
  height: 100vh;
}

.community {
  width: 5vw;
  background-color: #ffa31a;
  height: 100vh;
}

.communityShift {
  width: 85vw;
  background-color: #ffa31a;
  height: 100vh;
}

